<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GpsIntersect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <GpsIntersect.Properties.Settings>
      <setting name="GpsFilesVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IntersectionsVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrackPointsVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MapLabelsVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StatusBarVisibility" serializeAs="String">
        <value>True</value>
      </setting>
    </GpsIntersect.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
</configuration>